html,
body,
#app {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
a,
.link {
    color: #0c0c0c;
    text-decoration: none;
    font-weight: 500;
    background: none;
    border: none;
    &:hover {
        text-decoration: underline;
    }
}
