@use 'sass:list';
@use 'sass:map';
html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--roboto);
}

@mixin min($bp, $max: 'null', $device: 'screen') {
    @if $max== 'null' {
        @media only #{$device} and (min-width: #{$bp}) {
            @content;
        }
    } @else {
        @media only #{$device} and (min-width: #{$bp}) and (max-width: #{$max}) {
            @content;
        }
    }
}

@function bp($bp) {
    @return map.get($breakpoints, $bp);
}

$breakpoints: (
    na: 0px,
    // For BS grid
    xs: 320px,
    // Smartphone
    sm: 600px,
    // Tablets
    md: 900px,
    // Tablets Landscape and small desktops
    lg: 1200px,
    // Desktops
    xl: 1400px, // Large Desktop
);

@function container($container-size, $true-val: false) {
    @return map.get($container-sizes, $container-size);
}
// map-get: Es una función que devuelve el valor de una clave de un mapa.
$container-sizes: (
    sm: map.get($breakpoints, sm) - 30px,
    md: map.get($breakpoints, md) - 40px,
    lg: map.get($breakpoints, lg) - 50px,
    xl: map.get($breakpoints, xl) - 60px,
);
.container-half-right {
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: hidden;
    &:not(.is-fluid) {
        margin: 0 auto 0 0;
        @each $bp, $container-size in $container-sizes {
            @include min(#{bp(#{$bp})}) {
                width: 100%;
                max-width: calc(container(#{$bp}) / 2);
            }
        }
    }
}
.container-half-left {
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: hidden;
    &:not(.is-fluid) {
        margin: 0 0 0 auto;
        @each $bp, $container-size in $container-sizes {
            @include min(#{bp(#{$bp})}) {
                width: 100%;
                max-width: calc(container(#{$bp}) / 2);
            }
        }
    }
}
.container {
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: hidden;
    &:not(.is-fluid) {
        margin: 0 auto;
        @each $bp, $container-size in $container-sizes {
            @include min(#{bp(#{$bp})}) {
                width: 100%;
                max-width: container(#{$bp});
            }
        }
    }
}

@each $bp, $container-size in $container-sizes {
    .container-#{$bp} {
        margin: 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
        width: 100%;

        $i: list.index($container-sizes, $bp $container-size);

        @for $j from $i through list.length($container-sizes) {
            @include min(#{bp(list.nth(list.nth($container-sizes, $j), 1))}) {
                max-width: container(
                    #{list.nth(list.nth($container-sizes, $j), 1)}
                );
            }
        }
    }
}

.align-self-center {
    align-self: center;
}
.btn {
    padding: 0px 19px;
    height: 31px;
    font-size: 14px;
    font-family: var(--montserrat);
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease;
    border: none;
    box-shadow: none;
    line-height: 16px;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

    cursor: pointer;

    letter-spacing: 0;
    // border-radius: 0;
    border-radius: 100px;
    gap: 5px;
    user-select: none;
    i {
        font-size: 12px;
    }
    &--small {
        font-size: 15px;
        padding: 8px 16px;
    }
    &--very-small {
        font-size: 13px;
        padding: 4px 14px;
        line-height: 13px;
        height: 25px;
    }
    &--very-very-small {
        font-size: 11px;
        padding: 2px 8px;
        line-height: 11px;
        height: 20px;
    }
    &--large {
        font-size: 18px;
        padding: 12px 24px;
        height: 40px;
    }
    &--extra-large {
        font-size: 20px;
        padding: 16px 32px;
        height: 50px;
    }
    &--block {
        display: flex;
        width: 100%;
    }
    &--rounded {
        border-radius: 100px;
    }
    &--circle {
        border-radius: 100%;
        padding: 12px;
        aspect-ratio: 1;
    }
    &--gray {
        background-color: var(--gray);
        color: var(--darkgray);
        &:hover {
            background-color: var(--darkgray);
            color: var(--white);
        }
        &:hover.btn--disabled {
            background-color: var(--gray);
            color: var(--darkgray);
        }
    }
    &--darkgray {
        background-color: var(--darkgray);
        color: var(--white);
        &:hover {
            background-color: var(--darkgray);
            color: var(--white);
        }
    }
    &--darkgray-outline {
        background-color: transparent;
        color: var(--darkgray);
        border: 1px solid var(--darkgray);
        &:hover {
            background-color: var(--darkgray);
            color: var(--white);
        }
    }
    &--transparent {
        background-color: transparent !important;
        &:hover {
            background-color: transparent !important;
        }
    }
    &--borderless {
        border: 1px solid transparent !important;
        &:hover {
            border: 1px solid transparent !important;
        }
    }
    &--gray-outline {
        background-color: transparent;
        color: var(--darkgray);
        border: 1px solid var(--darkgray);
        &:hover {
            background-color: var(--darkgray);
            color: var(--white);
        }
    }
    &--black-outline {
        background-color: transparent;
        color: #000000;
        border: 1px solid #000000;
        &:hover {
            background-color: #000000;
            color: #ffffff;
        }
    }
    &--grayred-outline {
        background-color: transparent;
        color: #656565;
        border: 1px solid #656565;
        &:hover {
            background-color: rgb(255, 32, 32);
            border: 1px solid rgb(255, 32, 32);
            color: #ffffff;
        }
    }
    &--lightgray {
        background-color: var(--lightgray);
        color: var(--gray);
        &:hover {
            background-color: var(--gray);
            color: var(--white);
        }
    }
    &--lightgray-outline {
        background-color: transparent;
        color: var(--darkgray);
        border: 1px solid #d4d4d4;
        &:hover {
            background-color: var(--lightgray);
            color: var(--darkgray);
        }
    }
    &--lightpink {
        background-color: #fef1f1;
        color: #717171;
        &:hover {
            background-color: #ebd9d9;
            color: #686868;
        }
    }
    &--lightblue {
        background-color: #00aeee;
        color: #ffffff;
        &:hover {
            background-color: #0088b8;
            color: #ffffff;
        }
    }
    &--lightblue-outline {
        background-color: transparent;
        color: #00aeee;
        border: 1px solid #00aeee;
        &:hover {
            background-color: #00aeee;
            color: #ffffff;
        }
    }
    &--red {
        background-color: var(--red);
        color: var(--white);
        &:hover {
            background-color: var(--darkred);
        }
    }
    &--red-outline {
        background-color: transparent;
        color: var(--red);
        border: 1px solid var(--red);
        &:hover {
            background-color: var(--red);
            color: var(--white);
        }
    }
    &--yellow {
        background-color: var(--yellow);
        color: var(--white);
        &:hover {
            background-color: var(--darkyellow);
        }
    }
    &--yellow-outline {
        background-color: transparent;
        color: var(--yellow);
        border: 1px solid var(--yellow);
        &:hover {
            background-color: var(--yellow);
            color: var(--white);
        }
    }
    &--purple {
        background-color: var(--purple);
        color: var(--white);
        &:hover {
            background-color: var(--darkpurple);
        }
    }
    &--purple-outline {
        background-color: transparent;
        color: var(--purple);
        border: 1px solid var(--purple);
        &:hover {
            background-color: var(--purple);
            color: var(--white);
        }
    }
    &--green {
        background-color: var(--green);
        color: var(--white);
        &:hover {
            background-color: var(--darkgreen);
        }
    }
    &--green-outline {
        background-color: transparent;
        color: var(--green);
        border: 1px solid var(--green);
        &:hover {
            background-color: var(--green);
            color: var(--white);
        }
    }
    &--lightgreen {
        background-color: var(--lightgreen);
        color: #000;
        border: 1px solid var(--green);
        &:hover {
            background-color: var(--green);
            color: var(--white);
        }
        &:hover.btn--disabled {
            background-color: var(--lightgreen);
            color: var(--green);
        }
    }
    &--lightyellow {
        background-color: var(--lightyellow);
        color: #000;
        border: 1px solid var(--yellow);
        &:hover {
            background-color: var(--yellow);
            color: var(--white);
        }
        &:hover.btn--disabled {
            background-color: var(--lightyellow);
            color: var(--yellow);
        }
    }
    &--red {
        background-color: var(--red);
        color: var(--white);
        &:hover {
            background-color: var(--darkred);
        }
    }
    &--darkblue {
        background-color: var(--darkblue);
        color: var(--white);
        &:hover {
            background-color: var(--blue);
        }
    }
    &--darkblue-outline {
        background-color: transparent;
        color: var(--blue);
        border: 1px solid var(--blue);
        &:hover {
            background-color: var(--blue);
            color: var(--white);
        }
    }
    &--primary {
        background-color: #272727;
        color: #ffffff;
        border: 1px solid #272727;
        &:hover {
            background-color: #000000;
            color: #ffffff;
        }
    }
    &--primary-outline {
        background-color: transparent;
        color: #272727;
        border: 1px solid #272727;
        &:hover {
            background-color: #272727;
            color: #ffffff;
        }
    }
    @media (max-width: 768px) {
        padding: 12px 32px;
        font-size: 16px;
    }

    &--disabled {
        opacity: 0.9;
        cursor: not-allowed;
    }
}
.btn-back {
    color: #626262;
    background: transparent;
    border: none;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    padding: 0;
    margin-right: 18px;
}

.state {
    width: 12px;
    height: 12px;
    background: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    &--red {
        background: #ff2020;
        border: 1px solid #ff2020;
    }
    &--yellow {
        background: #f0da14;
        border: 1px solid #f0da14;
    }
    &--green {
        background: #00a651;
        border: 1px solid #00a651;
    }
    &--blue {
        background: #00aeee;
        border: 1px solid #00aeee;
    }
}

.btn-auto {
    display: inline-block;
    width: auto;
}
.btn-block {
    display: block;
    width: 100%;
}

$grid__cols: 50;
.flex,
.row {
    display: flex;
    flex-wrap: wrap;
}
.grid {
    display: grid;
    // grid 12 columns
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content;
}
// primero itero sin breakpoints
// para que este en el orden correcto
@for $i from 1 through $grid__cols {
    .col-#{$i} {
        grid-column: auto / span #{$i};
        flex-basis: calc(100 / ($grid__cols / $i)) * 1%;
        box-sizing: border-box;
        // overflow: hidden;
    }
    .grid-#{$i} {
        display: grid;
        grid-template-columns: repeat($i, minmax(0, 1fr));
        grid-template-rows: max-content;
    }
}
// luego itero con breakpoints
@each $breakpoint, $size in $breakpoints {
    // y para cada breakpoint, itero con los tamaños
    // es mejor hacerlo así para que se vea bien
    // y en el css resultante los agrupo por breakpoint
    @media screen and (min-width: $size) {
        @for $i from 1 through $grid__cols {
            .col-#{$breakpoint}-#{$i} {
                grid-column: auto / span #{$i};
                flex-basis: calc(100 / ($grid__cols / $i)) * 1%;
                box-sizing: border-box;
                // overflow: hidden;
            }
            .grid-#{$breakpoint}-#{$i} {
                display: grid;
                grid-template-columns: repeat($i, minmax(0, 1fr));
            }
        }
        .btn-#{$breakpoint}-auto {
            display: inline-block;
            width: auto;
        }
        .btn-#{$breakpoint}-block {
            display: block;
            width: 100%;
        }
    }
}

// Aca itero las columnas
$spacing: 150;
// Aca itero las columnas

// @for $i from 1 through $spacing {
//     .w-#{$i} {
//         width: $i * 1px !important;
//     }
//     .m-#{$i} {
//         margin: $i * 1px !important;
//     }
//     .mb-#{$i} {
//         margin-bottom: $i * 1px !important;
//     }
//     .mt-#{$i} {
//         margin-top: $i * 1px !important;
//     }
//     .ml-#{$i}, .ms-#{$i} {
//         margin-left: $i * 1px !important;
//     }
//     .mr-#{$i}, .me-#{$i} {
//         margin-right: $i * 1px !important;
//     }
//     .p-#{$i} {
//         padding: $i * 1px !important;
//     }
//     .pt-#{$i} {
//         padding-top: $i * 1px !important;
//     }
//     .pl-#{$i} {
//         padding-left: $i * 1px !important;
//     }
//     .pr-#{$i} {
//         padding-right: $i * 1px !important;
//     }
//     .pb-#{$i} {
//         padding-bottom: $i * 1px !important;
//     }
//     .py-#{$i} {
//         padding-top: $i * 1px !important;
//         padding-bottom: $i * 1px !important;
//     }
//     .px-#{$i} {
//         padding-left: $i * 1px !important;
//         padding-right: $i * 1px !important;
//     }
// }

$display: (
    flex: flex,
    block: block,
    none: none,
);
@each $key, $value in $display {
    .d-#{$key} {
        display: $value !important;
    }
}
$class-promerties: (
    w: (
        width,
    ),
    h: (
        height,
    ),
    m: (
        margin,
    ),
    mt: (
        margin-top,
    ),
    mb: (
        margin-bottom,
    ),
    ml: (
        margin-left,
    ),
    ms: (
        margin-left,
    ),
    mr: (
        margin-right,
    ),
    me: (
        margin-right,
    ),
    my: (
        margin-top margin-bottom,
    ),
    mx: (
        margin-left margin-right,
    ),
    p: (
        padding,
    ),
    pt: (
        padding-top,
    ),
    pl: (
        padding-left,
    ),
    ps: (
        padding-left,
    ),
    pr: (
        padding-right,
    ),
    pe: (
        padding-right,
    ),
    pb: (
        padding-bottom,
    ),
    py: (
        padding-top,
        padding-bottom,
    ),
    px: (
        padding-left,
        padding-right,
    ),
    gap: (
        gap,
    ),
);
@for $i from 0 through $spacing {
    @each $class, $properties in $class-promerties {
        .#{$class}-#{$i} {
            @each $property in $properties {
                #{$property}: $i * 1px !important;
            }
        }
    }
}
@each $breakpoint, $size in $breakpoints {
    @media screen and (min-width: $size) {
        @each $class, $properties in $class-promerties {
            @for $i from 0 through $spacing {
                .#{$class}-#{$breakpoint}-#{$i} {
                    @each $property in $properties {
                        #{$property}: $i * 1px !important;
                    }
                }
            }
        }
        @each $key, $value in $display {
            .d-#{$breakpoint}-#{$key} {
                display: $value !important;
            }
        }
    }
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.m-auto {
    margin: auto;
}
.mt-auto {
    margin-top: auto;
}
.mb-auto {
    margin-bottom: auto;
}
.ml-auto,
.ms-auto {
    margin-left: auto;
}
.mr-auto,
.me-auto {
    margin-right: auto;
}
.w-full {
    width: 100% !important;
}
.h-full {
    height: 100% !important;
}
.text-center {
    text-align: center;
}
.text-left,
.text-start {
    text-align: left !important;
}
.text-right,
.text-end {
    text-align: right !important;
}
.nowrap {
    white-space: nowrap;
}
.w-0 {
    width: 0 !important;
}
.strong {
    font-weight: 600;
}
.form-control {
    color: var(--black);
    border: 1px solid #ced4da;
    width: 100%;
    padding: 7.5px 15px;
    box-sizing: border-box;
}
.form-control:focus {
    color: var(--black);
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.align-items-end {
    align-items: flex-end !important;
}
.align-items-start {
    align-items: flex-start !important;
}
.align-items-center {
    align-items: center !important;
}
.justify-content-end {
    justify-content: flex-end !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.justify-content-center {
    justify-content: center !important;
}
.flex-grow-1 {
    flex-grow: 1 !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
.position-relative {
    position: relative !important;
}
.img-fluid {
    max-width: 100% !important;
    height: auto !important;
}
.text-red {
    color: var(--red) !important;
}
.text-green {
    color: var(--green) !important;
}
.ms-auto,
.ml-auto {
    margin-left: auto !important;
}
.me-auto,
.mr-auto {
    margin-right: auto !important;
}

.overflow-x-auto {
    overflow-x: auto !important;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
    overflow-x: auto;
    &__tab {
        font-weight: 500;
        font-size: 18px;
        color: #9a9a9a;
        cursor: pointer;
        border: none;
        border-bottom: 2px solid #d8d8d8;
        padding: 8px 15px;
        transition: all 0.3s ease;
        white-space: nowrap;
        &:hover {
            color: #00aeee;
        }
        &--active {
            color: #00aeee;
            border-bottom: 2px solid #00aeee;
        }
        &--disabled {
            cursor: not-allowed;
            color: #d8d8d8;
            border-bottom: 2px solid #d8d8d8;
            &:hover {
                color: #d8d8d8;
                border-bottom: 2px solid #d8d8d8;
            }
        }
    }
}

.badge-status {
    width: 40px;
    height: 8px;
    background: #bdbdbd;
    border-radius: 20px;
    &--red {
        background: #ff2020;
    }
    &--green {
        background: #00c853;
    }
    &--yellow {
        background: #ffc107;
    }
    &--blue {
        background: #00aeee;
    }
    &--gray {
        background: #9a9a9a;
    }
    &--red-green {
        background: linear-gradient(90deg, #ff2020 50%, #00c853 50%);
    }
}
.badge {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 4px;
    &--red {
        background: #ff2020;
        color: #ffffff;
    }
    &--green {
        background: #00c853;
        color: #ffffff;
    }
    &--yellow {
        background: #ffc107;
        color: #ffffff;
    }
    &--blue {
        background: #00aeee;
        color: #ffffff;
    }
    &--gray {
        background: #9a9a9a;
        color: #ffffff;
    }
    &--red-green {
        background: linear-gradient(90deg, #ff2020 50%, #00c853 50%);
        color: #ffffff;
    }
    // si esta colocada la clase badge--striped se le hace un opacity .8 a los elementos impares
    &--stripe {
        &:nth-child(even) {
            opacity: 0.8;
        }
    }
}
h1 {
    line-height: 40px;
    font-size: 32px;
}
@for $num from 0 through 9 {
    @for $decimal from 0 through 9 {
        .scale-#{$num}-#{$decimal} {
            transform: scale($num + calc($decimal/10));
        }
    }
}

.controls {
    &__title {
        color: #000;
        font-size: 22px;
        font-weight: 600;
        margin: 0;
    }
}
